.left {float: left;}
.right {float: right;}
.pointer{cursor: pointer;}
.hidden {display: none;}

.navbar {
    font-size: 16px;
    padding: 0 .5rem;
    color: wheat;
}
.navbar ul.nav li {
    text-align: center;
}
.page-header {
    padding: 10px;
}

table.table {
    font-size: 14px;
}
table.table a {
    font-size: 22px;
}

.form_add_board form .form-group {
    float: left;
    margin-left: 7px;
}
.form_add_board form .form-group:nth-child(2) {
    margin: 6px;
}
.list-main .form-group {
    padding: 0 7px;
}
.list-main .panel-body{
    padding: 0px 5px;
    overflow: auto;
    margin-top: 10px;
}

.list-container .panel-heading h2 {
    text-align: left;
}
.panel-heading {
    margin: 15px;
}
.panel-search input {
    border: rgb(219, 211, 211) 1px solid;
    box-shadow: gray 0 2px 3px ;
    border-radius: 5px;
    margin-left: 15px;
    padding-left: 25px;
    width: 225px;
}
.search-icon {
    position: absolute;
    margin: 7px 0 0 22px;
}
.card-href {
    cursor: pointer;
    margin-bottom: 10px;
}